@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


body {
  background: #F4F4F4;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

.floor-shadow {
  background: radial-gradient(#FDFDFD, #FDFDFD, #ffcf9998, rgba(255, 207, 153, 0.664), #ffffff00, #ffffff00, #ffffff00);
  border-radius: 50%;
}

.floor-shadow-dark {
  background: radial-gradient(#ffffff2c, #ffffff2c, #d9b37b1c, #d9b37b1c, #ffffff00, #ffffff00, #ffffff00);
  border-radius: 50%;
}


.dark-bg {
  background: #0B0D10;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;

  will-change: transform;

  image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-width:1024px) {
  .home-grid {
    grid-template-columns: repeat(10, 1fr) !important;
  }

}


/* Оптимизируем сами картинки внутри айтемов */
.grid-home img {
  pointer-events: none;
  /* Чтобы мышь не триггерила события на каждой картинке */
  backface-visibility: hidden;
}



.home-item-1 {
  grid-area: 1 / 1 / 5 / 4;
}

.home-item-2 {
  grid-area: 5 / 1 / 7 / 4;
}

.home-item-3 {
  grid-area: 7 / 1 / 10 / 4;
}

.home-item-4 {
  grid-area: 10 / 1 / 14 / 3;
}

.home-item-5 {
  grid-area: 10 / 3 / 13 / 11;
}

.home-item-6 {
  grid-area: 7 / 14 / 12 / 18;
}

.home-item-7 {
  grid-area: 3 / 14 / 7 / 18;
}

.home-item-8 {
  grid-area: 9 / 11 / 13 / 14;
}

.home-item-9 {
  grid-area: 3 / 18 / 14 / 21;
}

.home-item-10 {
  grid-area: 2 / 15 / 3 / 17;
}

.home-item-11 {
  grid-area: 7 / 4 / 10 / 8;
}


.home-item-12 {
  grid-area: 2 / 4 / 7 / 8;
}



.home-item-13 {
  grid-area: 2 / 18 / 21 / 21;
}



.wall-top-light {
  border-color: #F9FBFC;
}

.wall-top-dark {
  border-color: #333;

}


.border-top-light {
  background: #F9FBFC;
}


.border-top-dark {
  background: #333 !important;
}


main span,
main div,
main img {
  /* transition: 0.3s; */
}

main .duration-1000 {
  transition: 0.3s;
}

main .duration-500 {
  transition: 0.3s;
}



@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-container {
  position: absolute;
  width: 100%;
  transform: scale(0.9);
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.ripple-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ripple-effect 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

/* Задержки для создания последовательных волн */
.ripple-circle:nth-child(2) {
  animation-delay: 1s;
}

.ripple-circle:nth-child(3) {
  animation-delay: 2s;
}

/* Оптимизация для всех контейнеров элементов */
.home-item-container {
  backface-visibility: hidden;
  transform: translateZ(0);
  /* Включает GPU */
}

/* Глобальное управление картинками через CSS */
.theme-img {
  transition: opacity 1s ease-in-out, width 1s ease-in-out !important;
  will-change: opacity, width;
}

/* Скрываем темные по умолчанию, светлые показываем */
.dark-version {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.light-version {
  opacity: 1;
}

/* Когда у родителя (body или div) есть класс .dark-mode */
.dark-mode .dark-version {
  opacity: 1;
  pointer-events: auto;
}

.dark-mode .light-version {
  opacity: 0;
  pointer-events: none;
}

/* Специфическая логика для твоих масок (изменение ширины) */
.mask-transition {
  transition: all 1s ease-in-out;
}

.dark-mode .mask-2-dark {
  width: 55% !important;
}

.dark-mode .mask-1-dark {
  width: 50% !important;
}

@media screen and (min-width:1024px) {

  .text-item {
    grid-area: 4 / 5 / 8 / 20;
  }
}